@import "tailwindcss";
@theme {
  --color-primary-50: #f3f1fe;
  --color-primary-100: #ebe7fd;
  --color-primary-200: #d8d0fb;
  --color-primary-300: #c4b8f9;
  --color-primary-400: #b1a1f7;
  --color-primary-500: #9b87f5;
  --color-primary-600: #6243ef;
  --color-primary-700: #3512d4;
  --color-primary-800: #240c8d;
  --color-primary-900: #120647;
  --color-primary-950: #080321;
  --color-secondary-50: #e9f7fc;
  --color-secondary-100: #d2f0f9;
  --color-secondary-200: #a5e1f3;
  --color-secondary-300: #74d0ec;
  --color-secondary-400: #47c1e6;
  --color-secondary-500: #1eaedb;
  --color-secondary-600: #188caf;
  --color-secondary-700: #126882;
  --color-secondary-800: #0c485a;
  --color-secondary-900: #06242d;
  --color-secondary-950: #031216;
  --color-info-50: #f0f7ff;
  --color-info-100: #e1eefe;
  --color-info-200: #bfdbfd;
  --color-info-300: #a1cafc;
  --color-info-400: #7eb6fb;
  --color-info-500: #60a5fa;
  --color-info-600: #1c7ff8;
  --color-info-700: #065fcb;
  --color-info-800: #043e86;
  --color-info-900: #022045;
  --color-info-950: #011023;
  --color-success-50: #eefcf3;
  --color-success-100: #dcf9e7;
  --color-success-200: #b6f2cc;
  --color-success-300: #93ebb3;
  --color-success-400: #6ce498;
  --color-success-500: #4ade80;
  --color-success-600: #24c660;
  --color-success-700: #1b9749;
  --color-success-800: #126330;
  --color-success-900: #093419;
  --color-success-950: #051a0c;
  --color-error-50: #fef0f0;
  --color-error-100: #fee2e2;
  --color-error-200: #fcc5c5;
  --color-error-300: #fba8a8;
  --color-error-400: #f98f8f;
  --color-error-500: #f87171;
  --color-error-600: #f52e2e;
  --color-error-700: #cc0a0a;
  --color-error-800: #880707;
  --color-error-900: #440303;
  --color-error-950: #220202;
  --color-warning-50: #fefae6;
  --color-warning-100: #fef5d2;
  --color-warning-200: #fdeaa0;
  --color-warning-300: #fce173;
  --color-warning-400: #fbd641;
  --color-warning-500: #facc15;
  --color-warning-600: #d2a904;
  --color-warning-700: #a08103;
  --color-warning-800: #695402;
  --color-warning-900: #372c01;
  --color-warning-950: #191401;
}
